[Unit]
Description=Harjus
After=docker.service network-online.target
Requires=docker.service
Wants=network-online.target

[Service]
TimeoutStartSec=0
# Time to wait for graceful shutdown
TimeoutStopSec=30

# Pull the latest version of the image (or specific tag if overridden)
ExecStartPre=-/usr/bin/docker stop harjus
ExecStartPre=-/usr/bin/docker rm harjus
ExecStartPre=/bin/sh -c '/usr/bin/aws ecr get-login-password | /usr/bin/docker login --username AWS --password-stdin ${ECR_REGISTRY}'

# Start the container
# Note the -e VAR_NAME syntax for variables to be passed from systemd's environment
ExecStart=/usr/bin/docker run --name harjus --pull=always --network host \
  # == Add environment variables to be passed to the container below ==
  -e BINANCE_REST_API_URI \
  -e BINANCE_FIX_API_HOSTNAME_ORDERENTRY \
  -e BINANCE_FIX_API_HOSTNAME_MARKETDATA \
  -e BINANCE_ED25519_SEED \
  -e BINANCE_ED25519_API_KEY \
  -e FIX_FILE_DIR \
  -e BINANCE_FIX_API_PORT_ORDERENTRY \
  -e BINANCE_FIX_API_PORT_MARKETDATA \
  -e MAX_TRADING_PATH_LENGTH \
  -e START_SYMBOLS \
  -e BLACKLISTED_START_ASSETS \
  -e COMMISSION \
  -e LOG_LEVEL \
  ${ECR_REGISTRY}/${IMAGE_NAME}:${IMAGE_TAG}

# Stop the container gracefully
ExecStop=/usr/bin/docker stop -t 25 harjus

