[Unit]
Description=Harjus
After=network-online.target
Requires=network-online.target
Wants=network-online.target
StartLimitIntervalSec=300

[Service]
StartLimitBurst=3
Restart=always
TimeoutStartSec=0
# Time to wait for graceful shutdown
TimeoutStopSec=30
RestartSec=60

# Start the app
ExecStart=/opt/harjus/bin/start.sh -b /opt/harjus/bin/harjus -c /opt/harjus/etc/config.ini

