MAX_TRADING_PATH_LENGTH=3
COMMISSION=0.00075
BINANCE_ED25519_API_KEY=
BINANCE_REST_API_URI="https://testnet.binance.vision"
BINANCE_FIX_API_HOSTNAME_MARKETDATA="fix-md.testnet.binance.vision"
BINANCE_FIX_API_HOSTNAME_ORDERENTRY="fix-oe.testnet.binance.vision"
BINANCE_ED25519_SEED=
LOG_LEVEL=0
ASSETS="ETH,BTC,USDT,BNB,ADA,XRP,DOT,LTC,SOL,AVAX,LINK"
STATIC_TRADINGPATHS="BTCUSDT:LONG,ETHBTC:LONG,ETHUSDT:SHORT;DOGEUSDT:LONG,DOGEETH:SHORT,ETHUSDT:SHORT"
