[Service]
# This file is managed by Ansible
# It provides environment variables to the {{ service_name }} service.

Environment="IMAGE_TAG={{ image_tag }}"
Environment="ECR_REGISTRY={{ ecr_registry }}"
Environment="IMAGE_NAME={{ image_name }}"