[defaults]
inventory = aws_ec2.yml
vault_password_file = .ansible_vault_password
# skip checking for host key as we are using dynamic inventory
# and the host key is not known yet
host_key_checking = False
pipelining = True

[privilege_escalation]
become_ask_pass = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s

